for browserstack env (the name should be like '.env.mobile.browserstack'):

platformName = 'android'
platformVersion = '13.0'
deviceName = 'Samsung Galaxy S23 Ultra'
app = 'bs://58da139db09c834c1f23f7cb563ecf27fea250f4'
projectName = 'First Python project'
buildName = 'browserstack-build'
sessionName = 'BStack tests'
remoteBrowser = 'http://hub.browserstack.com/wd/hub'
userName = 'bsuser_joevmf'
accessKey = 'NUcC6SYTs4tqGRfMsxPw'