for local env (the name should be like '.env.mobile.local'):

platformName = 'Android'
platformVersion = "11.0"
automationName = 'UiAutomator2'
app = './app-alpha-universal-release.apk'
remoteBrowser = 'http://127.0.0.1:4723'